body {
    margin: 0px;
    font-family: "consolas", "courier";
    background: url(topography.webp);
}

nav {
    background-color: #333333;
    color: #ff0099;
    align-items: end;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 20px;
}

main {
    padding-left: 10%;
    padding-right: 10%;

}

ul>li {
    display: inline-block;
    margin-left: 45px;
    color: #ff0099;
    text-transform: uppercase;
    float: right;
}

a {
    color: #ff0099;
}

h1,
h2 {
    font-family: "Merriweather", sans-serif;
}

h2 {
    font-size: 25px;

}

p.main {
    font-size: 20px;
}

#logo {
    float: left;
}

#separator {
    text-align: center;
    margin: 50px;
}

h1.main {
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 30px;
}

h2.main {
    color: #ff0099;
    font-weight: lighter;
}

h1.wiki {
    text-align: center;
    font-size: 30px;
}

h2.wiki {
    font-weight: bold;
}

p.wiki {
    font-size: 15px;
    line-height: 1.5;
}